{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    {% if parent_post %}
        Reply to Post in {{ forum.title }} - The Internet Hub
    {% else %}
        Create Post in {{ forum.title }} - The Internet Hub
    {% endif %}
{% endblock %}

{% block content %}
<div class="content-box">
    <h2>
        {% if parent_post %}
        Reply to Post in {{ forum.title }}
        {% else %}
        Create Post in {{ forum.title }}
        {% endif %}
    </h2>
    {% if parent_post %}
    <div style="margin-bottom: 20px; border-left: 3px solid #444; padding-left: 10px;">
        <p><strong>{{ parent_post.user.username }}</strong> wrote:</p>
        <p>{{ parent_post.content|truncatewords:50|safe }}</p>
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <p><a href="{% url 'forum_detail' forum_slug=forum.slug %}">Back to {{ forum.title }}</a></p>
</div>
{% endblock %}